
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color:  #9845a0;
    color: white;
    padding: 1em 0;
}

main {
    padding: 2em;
}

button {
    background-color:  #9845a0;
    color: white;
    border: none;
    padding: 1em 2em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #9845a0;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}
